html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
}
.panel {
	width: 300px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: calc(50% - 250px);
	box-shadow: 0px 2px 6px #ddd;
}
.substance-circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
}
.substance-triangle {
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: transparent transparent yellow;
}
